<div
  class="min-vw-100 min-vh-100 bg-success d-flex justify-content-center align-items-center px-5 py-5"
>
  <div
    class="w-100 mx-auto shadow-lg text-dark position-relative overflow-hidden bg-success calculator"
  >
    <h1 class="text-center text-white py-3 fs-4 fw-bold">Calculator</h1>

    <!-- Calculator screen -->

    <div class="bg-danger text-end h-40 w-100 calScreen">
      <div class="w-100 py-1 px-1 fs-5 text-white fw-light">{{ funcT }}</div>

      <div class="w-100 py-1 px-1 fs-2 h-40 text-white fw-light container">
        <input type="text"   pattern="^-?(?:\d+(?:\.\d*)?|\.\d+)$" [(ngModel)]="inputValue" />
        {{ calValue | number }} <!-- number pipe odvaja zarezom hiljade i zaokruzuje na 3 decimale -->
      </div>
    </div>
    <!-- end of Calculator screen -->

    <!--  calculator button area -->
    <div class="calButtons">
      <button
        *ngFor="let button of buttons"
        class="calButton {{button.type}} 
        {{ button.value === 'c' || button.value === '0' ? 'calButton-span' : ''}}"
        (click)="onClickValue(button.value, button.type)"
      >
        {{ button.value }}
      </button>
    </div>
    <!-- end of calculator button area -->
  </div>
</div>
